[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/yt-dlp"]
	path = dependencies/yt-dlp
	url = https://github.com/yt-dlp/yt-dlp.git
[submodule "dependencies/libvlcpp"]
	path = dependencies/libvlcpp
	url = https://code.videolan.org/videolan/libvlcpp.git
